<div class="app-container" [class.mobile-layout]="isMobileLayout">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button *ngIf="isMobileLayout" (click)="sideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-logo">Sample App</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container" [style.marginTop.px]="isMobileLayout ? 56 : 0">
    <mat-sidenav #sideNav [opened]="!isMobileLayout" [mode]="isMobileLayout ? 'over' : 'side'" [fixedInViewport]="isMobileLayout" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of navList">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="router-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
