<mat-card class="example-card" *ngFor="let card of cardList">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Title</mat-card-title>
    <mat-card-subtitle>Sub Title</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="'assets/images/' + card + '.jpg'" alt="Photo">
  <mat-card-content>
    <p>
      Card Body
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
